<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>

        <img src="https://github.com/sayeh92/SayehMVC2/blob/master/sayeh-low-resolution-logo-white-on-transparent-background_24.png?raw=true" />
        
        
        <nav>
            <ul class="listNav">
            
                 <li class="about">
                     <a asp-action="Index" asp-controller="Home">About</a>
                 </li>
                 <li class="contactMe">
                     <a asp-action="Contact" asp-controller="Home">Contact</a>
                 </li>
                 <li class="projects">
                    <a asp-action="Project" asp-controller="Home">Project</a>
                 </li>
                <li class="FeverCheck1">
                    <a asp-action="FeverCheck" asp-controller="Docter">Fever</a>
                </li>
                <li class="projects">
                    <a asp-action="GuessView" asp-controller="Game">Guess the Number</a>
                </li>
                
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
       
        <div>@DateTime.Now.ToString("MM-dd-yyyy hh:mm tt") </div>
              
        &#169; Sayeh Ghaderi 2022
    </footer>
</body>
</html>
