
@{
    ViewData["Title"] = "FeverCheck";
}

<div class="container">
    <h2>Lets check your temprature</h2>
    <div class="wrapper">
        <h3>Fever check</h3>
        <form asp-action="FeverCheck"asp-controller="Docter" method="get">

            <input type="number" name="temp" value="" 
                placeholder="Temp" min="37" max="100" step="1" />
                <button type="submit">Submit</button>

                <p>
                    @if(ViewBag.Msg != null)
                    {@ViewBag.Msg}
                </p>
        </form>

    </div>

</div>
